<%- include("header") -%>
<head>
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/style.css">
 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<!-- <div class="box" id="heading"><h1> <%= listTitle %> </h1></div> -->

<section aria-colspan="main">


  <!doctype html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.104.2">
      <title>SYGE</title>
  
      <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
      <link rel="stylesheet" href="style.css">
  
      <link rel="stylesheet" href="public/css/style.css">
      
  
      
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
      <!-- Favicons -->
 
  
      
      <!-- Custom styles for this template -->
      <link href="style.css" rel="stylesheet">
    </head>
    <body>
      
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Welcome to SYGE</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          
        <a class="nav-link px-3" href="main.html">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky sideM">
          <ul class="nav flex-column">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
           
            <li class="nav-item">

              <a class="nav-link" href="Mylearners.html">
                <span data-feather="file" class="align-text-bottom"></span>
                My Learners
              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="subjects.html">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
               Subjects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="content.html">
                <span data-feather="users" class="align-text-bottom"></span>
               Content
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Announce.html">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Announcemets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Library
              </a>
            </li>
            
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Administration</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Set Exam
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Upload Library Content
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Upload Term Content
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
               Create Announcement
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
         
            </button>
          <div class="btn-toolbar mb-2 mb-md-0">
              
            <div class="btn-group me-2">
      
                 
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Share</button>
              
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle Size_btn">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>
  
     

        <section class="boxes"><div class="row">
          <div class="col-sm-3">
          <div class="card">
          <div class="card-body">
          <h5 class="card-title">My learners</h5>
          <tr>
            <h1><%= Learn.length %></h1>
          </tr>
          <a href="Mylearners.html" class="btn btn-primary">View Learners</a>
          </div>
          </div>
          </div>    
        </div> 
        </section> 
          



         
        <div class="card" style="width: 18rem;">
          <% Learn.forEach(function(item) { %>
           
              <img class="ProfileP" src="<%= item.Teacher_Profile_Picture %>" alt="">

       
            <% }); %>
          <div class="card-body">
            <h5 class="card-title"> 
              <% Learn.forEach(function(item) { %>
                <td><%= item.Title %></td>           <td><%= item.TeacherName %></td> 
             
  
         
              <% }); %>
            </h5>
            <h5 class="card-title"> 
              <% Learn.forEach(function(item) { %>
                <td>Gender:</td>           <td><%= item.Gender %></td> 
             
  
         
              <% }); %>
            </h5>
            <h6 class="card-title"> 
              <% Learn.forEach(function(item) { %>
                <td>Eamil Address:</td>      <td><%= item.email_adsress %></td> 
             
  
         
              <% }); %>
            </h6>
            <h6 class="card-title"> 
              <% Learn.forEach(function(item) { %>
                <td> Home Address:</td>      <td><%= item.address %></td> 
             
  
         
              <% }); %>
            </h6>
          
            <a href="#" class="btn btn-primary">View Full Profile</a>
          </div>
        </div>

          





   
  
         
        
      
      


<!-- Main content -->




  

 <!-- this below is for connectinf the pages -->
 



</html>